body {
  * {
    font-family: "Roboto";
  }

}

a {
  text-decoration: none;
}

button {
  border: none;

  &:focus {
    outline: none;
  }

  cursor: pointer;
}

.text-white {
  color: white;
}

.bg-secondary {
  background-color: #fe8503;
}

.pl-2 {
  padding-left: 20%;
}

.pr-2 {
  padding-right: 20px;
}

.bg-clear {
  background-color: none;
}

button {
  background: unset;
}

p {
  font-weight: 700;
}

h2,
h1 {
  font-weight: 700;
}

.sidebar-container {
  display: flex;
  max-width: 100vw;
  box-sizing: border-box;


  .sidebar {
    position: fixed;
    top: 0;
   left: 0;
   bottom: 0;
    width: 25%;
    overflow-y: scroll;
    background-color: #037cfe;

    &::-webkit-scrollbar-thumb {
      background: #037cfe;
      border-radius: 20px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #037cfe;
    }
    .inner {
      min-height: 100%;
      
      display: flex;
      flex-direction: column;
      padding: 100px 0;
    



      

      

      .active {
        background-color: #fe8503;
        border-left: 3px solid #ffffff;
      }

      .side-menu-item {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 55px;
        cursor: pointer;

        img {
          margin-right: 20px;
        }

        .menu-item-text {
          width: 60%;
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
          margin: 0;
        }

        &:hover {
          background-color: #fe8503;
          border-left: 3px solid #ffffff;
        }
      }

      .connect-apps {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 20px;

        .title {
          display: flex;

          p {
            width: 70%;
            font-size: 13px;
            margin-right: 20px;
          }

          img {
            width: 20px;
          }
        }

        .connect-item {
          display: flex;
          justify-content: flex-end;

          img {
            width: 20px;
            margin-right: 20px;
          }

          p {
            color: white;
            font-size: 13px;
            width: 60%;
          }
        }
      }

      .logout {
        margin-top: 40px;
        margin-right: 10px;

        button {
          height: 30px;
          width: 100%;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          margin-left: 10px;
          height: 15px;
        }
      }
    }
  }

  .content {
    position: relative;
    left: 25vw;
    width: 70%;
    padding: 0 20px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }
}